@import 'td/code-dark';
h1 {
  font-size: 2.2rem !important;
  font-weight: bold !important;
}

.btn-info {
  background-color: #1ec6e6 !important;
  border-color: #1ec6e6 !important;
  color: #fff !important;
}